@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

#gallery {
  padding: 2em;
}

.nav-main {
  border-bottom: 1px solid #c8c8c8;
  border-top: 5px solid #000;
  padding: .5em 0 .5em;
}

.nav-main li {
  border-left: 1px solid #c8c8c8;
  display: inline;
  font-weight: 600;
  padding: .25em 1em;
}

.nav-main li:first-child {
  border-left: none;
}

.nav-main ul {
  float: right;
  margin-top: .5em;
}

.photo {
  cursor: pointer;
  margin-bottom: 2em;
}

.photo img {
  background: rgba(255, 255, 255);
  border-radius: 5px;
  opacity: 1;
  width: 98%;
}

.photo:hover img {
  opacity: 0.6;
  transition-duration: 1s;
}
